<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Data Driven Basic</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b5a8">  <td>18/04/04 17:01:21</td>   <td>0</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.w2a.testcase.addPatientTest@1189dd52]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@440938038</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/04/04 17:01:51</td>   <td>30191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.loginAsAdmin()[pri:0, instance:com.w2a.testcase.loginTest@4466af20]">loginAsAdmin</td> 
  <td>main@440938038</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/04/04 17:02:02</td>   <td>40676</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.w2a.testcase.addPatientTest@1189dd52]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@440938038</td>   <td></td> </tr>
</table>
