<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b5a8">  <td>18/04/04 15:20:00</td>   <td>0</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.w2a.testcase.addPatientTest@6b927fb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1226020905</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/04/04 15:20:54</td>   <td>53183</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.w2a.testcase.addPatientTest@6b927fb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1226020905</td>   <td></td> </tr>
</table>
